haddock_evaluation/pub_data/
haddock_evaluation/pub_collected_caprievals/
haddock_evaluation/data/haddock_units/*/haddock_unrestr_10k/0_topoaa/
haddock_evaluation/data/haddock_units/*/haddock_unrestr_10k/1_rigidbody/
haddock_evaluation/data/haddock_units/*/haddock_unrestr_10k/2_seletop/
haddock_evaluation/data/haddock_units/*/haddock_unrestr_10k/3_flexref/
haddock_evaluation/data/haddock_units/*/haddock_unrestr_10k/4_emref/
haddock_evaluation/data/haddock_units/*/haddock_unrestr_10k/5_clustfcc/
haddock_evaluation/data/haddock_units/*/haddock_unrestr_10k/data/
haddock_evaluation/data/haddock_units/*/haddock_oracle_100_10/1_rigidbody/

haddock_evaluation/data/haddock_units/*/haddock_oracle_100_10/0_topoaa/  
haddock_evaluation/data/haddock_units/*/haddock_oracle_100_10/1_rigidbody/  
haddock_evaluation/data/haddock_units/*/haddock_oracle_100_10/2_seletop/  
haddock_evaluation/data/haddock_units/*/haddock_oracle_100_10/3_flexref/  
haddock_evaluation/data/haddock_units/*/haddock_oracle_100_10/4_emref/  
haddock_evaluation/data/haddock_units/*/haddock_oracle_100_10/5_clustfcc/  
haddock_evaluation/data/haddock_units/*/haddock_oracle_100_10/6_seletopclusts/

haddock_evaluation/data/haddock_units/*/runs/patches_*/1_rigidbody/
haddock_evaluation/data/haddock_units/*/runs/patches_*/0_topoaa/  
haddock_evaluation/data/haddock_units/*/runs/patches_*/2_seletop/
haddock_evaluation/data/haddock_units/*/runs/patches_*/data/

requirements_soft.txt
haddock_pair_eval/data  
haddock_pair_eval/esm3_reps  
haddock_pair_eval/inference_results  
haddock_pair_eval/logs_eval 
pair_predictions.py

.ipynb_checkpoints/
